body{
    font-family: "Comfortaa", sans-serif;
}

.header{
    background-color: green;
    color: white;
    padding-left: 25px;
    font-size: large;
}

.input-form{
    display: flex;
    justify-content: space-around;
    margin: 20px 50px;
    align-items: center;
    border-radius: 8px;
    padding: 15px 0px;
    box-shadow: 5px 4px 3px rgba(26, 221, 39, 0.5);
    border: 1px solid green;
}

#add-button{
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600;
    color: white;
}

.form-floating{
    border: 1px solid green;
    border-radius: 8px;

}

.inputs {

    width: 30%;
}


.cards {
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
}


.card{

   background-color: green;
   border: 0px;
   height: 150px;
}

.card-body{
    color: white;
}

.transaction-table{

    border: 1px black solid;
    width: 93%;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 8px;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 5px 4px 3px rgba(26, 221, 39, 0.5);
    


}

#header-row{
    background: green;
    display: flex;
    justify-content: space-evenly;
   
  

}

#header-row th{
    padding: 15px 10px;
    color: white;
}

.my-class{

    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 66px;
}

.delete{
    background-color: red;
    color: white;
}


td{
    width: 100px;
    display: flex;
    justify-content: center;

}

th{
    width: 200px;
    display: flex;
    justify-content: center;
}


#dropdown{

    height: 58px;
    border: 1px solid green;
}